<header>
    <a href="/"><img id="logo" src="/photo/logo.png" alt="paw logo with name of the website "></a>
    <span class="site-name">Paw Print adoption service</span>
    <div><p id="time"></p></div>
</header>